<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index">返回上一级</a></div>
	<ul class="cc J_tabs_nav">
		<li id="J_nav_jb" data-tab="nav_jb" class="current"><a href="">基本设置</a></li>
		<li id="J_nav_gn" data-tab="nav_gn"><a href="">模板设置</a></li>
			</ul>
</div>

<form id="J_rigths_form" data-role="list" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="h_a">版块设置</div>
<div class="table_full">
	<table width="100%">
		<col class="th" />
		<col width="400" />
		<col />
		<col width="44" />
		<tr>
			<th>分类名称</th>
			<td>
				<input type="text" class="input input_hd length_5" value="{$data.title}" name="title">
			</td>
			<td><div class="fun_tips">分类名称</div></td>
			<td style="vertical-align:middle"></td>
		</tr>
		<tr>
			<th>标识</th>
			<td>
				<input type="text" class="input length_5" value="{$data.name}" name="name">
			</td>
			<td><div class="fun_tips">主要用于子域名</div></td>
			<td style="vertical-align:middle"></td>
		</tr>
	</table>
</div>

<div class="J_tabs_contents">
	<!--=============基本设置===============-->
	<div>
		<div class="h_a">基本设置</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<col width="44" />
				<tr>
					<th>顺序</th>
					<td><input type="number" class="input length_5" value="{$data.sort}" name="sort"></td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>分类简介</th>
					<td><textarea class="length_5" name="remark">{$data.remark}</textarea></td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>模型</th>
					<td>
						<select name="mid" class="select_5">
							<volist name="model" id="vo">
							<option  <eq name="data.mid" value="$vo['id']">selected</eq> value="{$vo.id}">{$vo.title}</option>
							</volist>
						</select>
					</td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>是否审核</th>
					<td>
						<ul class="switch_list cc">
							<li><label><input type="radio" value="1" name="is_check" <eq name="data.is_check" value="1">checked</eq>><span>开启</span></label></li>
							<li><label><input type="radio" value="0" name="is_check" <eq name="data.is_check" value="0">checked</eq>><span>关闭</span></label></li>
						</ul>
					</td>
					<td><div class="fun_tips">开启后发布的文章需要通过管理员审核才能显示</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>是否设置子域名</th>
					<td>
						<ul class="switch_list cc">
							<li><label><input type="radio" value="1" name="is_domain" <eq name="data.is_domain" value="1">checked</eq>><span>开启</span></label></li>
							<li><label><input type="radio" value="0" name="is_domain" <eq name="data.is_domain" value="0">checked</eq>><span>关闭</span></label></li>
						</ul>
					</td>
					<td><div class="fun_tips">开启后可通过二级域名访问该分类，需要泛域名解析支持</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>是否单页</th>
					<td>
						<ul class="switch_list cc">
							<li><label><input type="radio" value="1" name="is_page" <eq name="data.is_page" value="1">checked</eq>><span>开启</span></label></li>
							<li><label><input type="radio" value="0" name="is_page" <eq name="data.is_page" value="0">checked</eq>><span>关闭</span></label></li>
						</ul>
					</td>
					<td><div class="fun_tips">开启后将无文章列表，直接显示单页</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>分类状态</th>
					<td>
						<ul class="switch_list cc">
							<li><label><input type="radio" value="1" name="status" <eq name="data.status" value="1">checked</eq>><span>开启</span></label></li>
							<li><label><input type="radio" value="0" name="status" <eq name="data.status" value="0">checked</eq>><span>关闭</span></label></li>
						</ul>
					</td>
					<td><div class="fun_tips">关闭将不显示</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
			</table>
		</div>

		<div class="h_a">SEO信息</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<col width="44" />
				<tr>
					<th>title</th>
					<td><input type="text" class="input length_5" value="{$data.seo_title}" name="seo_title"></td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>keywords</th>
					<td><input type="text" class="input length_5" value="{$data.keywords}" name="keywords"></td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>description</th>
					<td><textarea class="length_5" name="description">{$data.description}</textarea></td>
					<td></td>
					<td style="vertical-align:middle"></td>
				</tr>
			</table>
		</div>
	</div>

	<!--=============功能设置===============-->
	<div>
		<div class="h_a">模板设置</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<col width="44" />
				<tr>
					<th>栏目模板</th>
					<td><input type="text" class="input length_5" value="{$data.tpl_cate}" name="tpl_cate"></td>
					<td><div class="fun_tips">前台栏目模板</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>文章模板</th>
					<td><input type="text" class="input length_5" value="{$data.tpl_article}" name="tpl_article"></td>
					<td><div class="fun_tips">前台文章内容模板</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>列表模板</th>
					<td><input type="text" class="input length_5" value="{$data.tpl_list}" name="tpl_list"></td>
					<td><div class="fun_tips">后台分类列表模板</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>新增模板</th>
					<td><input type="text" class="input length_5" value="{$data.tpl_add}" name="tpl_add"></td>
					<td><div class="fun_tips">后台内容新增页模板</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
				<tr>
					<th>编辑模板</th>
					<td><input type="text" class="input length_5" value="{$data.tpl_edit}" name="tpl_edit"></td>
					<td><div class="fun_tips">后台内容编辑页模板</div></td>
					<td style="vertical-align:middle"></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<button type="submit" class="btn btn_submit mr20" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>