<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">工作日期</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>标题</th>
					<td><input type="text" class="input length_5" name="title" value="{$data.title}"></td>
				</tr>
				<tr>
					<th>地址</th>
					<td><input type="text" class="input length_5" name="url" value="{$data.url}"></td>
				</tr>
				<tr>
					<th>封面</th>
					<td>
						<input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover">
						<div>
							<img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.cover_url}?imageView/1/w/246/h/185/q/85" alt="">
						</div>
					</td>
				</tr>
                <tr>
                    <th>城市</th>
                    <td>
                        <input  class="input length_3 mr10" name="area" autoComplete="off" type="text" value="{$data.area}">
                    </td>
                </tr>
                <tr>
                    <th>开始日期</th>
                    <td><input  type="text" id="edit_start_time" class="input length_5 J_date date" name="start_time" value="{$data.start_time}"></td>
                    <td><div class="fun_tips"></div></td>
                </tr>
                <tr>
                    <th>结束日期</th>
                    <td><input type="text" id="edit_end_time" class="input length_5 J_date date" name="end_time" value="{$data.end_time}"></td>
                    <td><div class="fun_tips"></div></td>
                </tr>
                <tr>
                    <th>描述</th>
                    <td><input type="text" class="input length_5" name="description" value="{$data.description}"></td>
                </tr>
                <tr>
					<th>排序</th>
					<td><input type="number" class="input length_5" name="sort" value="{$data.sort}"><p>数值越大越靠前</p></td>
				</tr>
			</table>
		</div>
	</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>

<script>
	$(function(){
		$('.cate').change(function() {
			var name = $(this).attr('name');
			$('input[name='+ name +'_title]').val($(this).children('option:selected').text());
		});
	})
</script>

<!--时间戳转换-->
<script type="text/javascript">
    var d_start=new Date({$data.start_time}*1000);
    var d_end=new Date({$data.end_time}*1000);
    $("#edit_start_time").val(d_start.getFullYear()+"-"+(d_start.getMonth()+1)+"-"+d_start.getDate());
    $("#edit_end_time").val(d_end.getFullYear()+"-"+(d_end.getMonth()+1)+"-"+d_end.getDate());
</script>



