<div class="wrap">
	<div class="h_a">常用菜单</div>
	<form class="J_ajaxForm" action="" method="post">
		<div class="table_full J_check_wrap">
			<table width="100%">
				<colgroup>
					<col class="th">
					<col width="400">
					<col>
				</colgroup>
				<tbody>
					<volist name="menu" id="vo">
					<tr>
						<th>
							<label>
								<input <eq name="vo.id" value="custom">disabled="true" checked="checked"</eq> class="J_check_all" type="checkbox">
								<span>{$vo.name}</span>
							</label>
						</th>
						<td>
							<ul data-name="{$vo.id}" class="three_list cc J_ul_check">
								<volist name="vo.items" id="ivo">
								<li>
									<label>
										<input <eq name="vo.id" value="custom">disabled="true" checked="checked"</eq> name="customs[]" class="J_check" type="checkbox" value="{$ivo.id}">
										<span>{$ivo.name}</span>
									</label>
								</li>
								</volist>
							</ul>
						</td>
						<td><div class="fun_tips"></div></td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<button class="J_ajax_submit_btn btn btn_submit" type="submit">提交</button>
			</div>
		</div>
		<input type="hidden" name="csrf_token" value="f393535128ebfd82">
	</form>
</div>