<div class="wrap">
    <div class="nav">
        <div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
    </div>

    <form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
        <div class="J_tabs_contents">
            <div>
                <div class="J_tabs_contents">
                    <div>
                        <div class="h_a">代理商基础信息</div>
                        <div class="table_full">
                            <table width="100%">
                                <col class="th"/>
                                <col width="400"/>
                                <col/>
                                <tr>
                                    <th>姓名</th>
                                    <td><input type="text" class="input length_5" name="username" value="{$data.username}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>公司</th>
                                    <td><input type="text" class="input length_5" name="company" value="{$data.company}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>手机号</th>
                                    <td><input type="text" class="input length_5" name="phone" value="{$data.phone}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>OPENID</th>
                                    <td><input type="text" class="input length_5" name="openid" value="{$data.openid}"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="h_a">账户信息</div>
                        <div class="table_full">
                            <table width="100%">
                                <col class="th"/>
                                <col width="400"/>
                                <col/>
                                <tr>
                                    <th>微信</th>
                                    <td><input type="text" class="input length_5" name="wechat" value="{$data.wechat}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>支付宝</th>
                                    <td><input type="email" class="input length_5" name="alipay" value="{$data.alipay}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>银行名</th>
                                    <td><input type="text" class="input length_5" name="bank_name" value="{$data.bank_name}"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>银行卡号</th>
                                    <td><input type="text" class="input length_5" name="bank_id" value="{$data.bank_id}"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_wrap">
            <div class="btn_wrap_pd">
                <input type="hidden" name="id" value="{$data.id}">
                <input type="hidden" name="qudao" value="{$data.qudao}">
                <button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
            </div>
        </div>
    </form>
</div>