{__NOLAYOUT__}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>系统后台 - {:C('SYSTEM_NAME')}}</title>
	<meta name="robots" content="noindex,nofollow">
	<link href="__PUBLIC__/Admin/Css/admin_login.css" rel="stylesheet" />
	<script>
	if (window.parent !== window.self) {
		document.write = '';
		window.parent.location.href = window.self.location.href;
		setTimeout(function () {
			document.body.innerHTML = '';
		}, 0);
	}
	</script>
</head>
<body>
<div class="wrap">
	<h1><a href="">faith 后台管理中心</a></h1>
	<form method="post" name="login" action="__URL__/login" autoComplete="off">
		<div class="login">
			<ul>
				<li>
					<input class="input" id="J_admin_name" required name="username" type="text" placeholder="帐号名" title="帐号名" />
				</li>
				<li>
					<input class="input" id="admin_pwd" type="password" required name="password" placeholder="密码" title="密码" />
				</li>
			</ul>
			<button id="do_login" type="submit" name="submit" class="btn">登录</button>
		</div>
		<div class="tips"></div>
	</form>
</div>
<script src="__PUBLIC__/Admin/Js/dev/jquery.js"></script>
<script>
$(function(){
	//设置默认获取焦点
    $('#J_admin_name').focus();
	$('#do_login').on('click',function(){
		var username = $('input[name=username]').val(),
			password = $('input[name=password]').val();
		if(username == '' || password == ''){
			$('.tips').text('账号或密码不能为空！');
			return false;
		}

		$.ajax({
			url : '__URL__/login',
			type : 'post',
			data : {username:username,password:password},
			dataType : 'json',
			success : function(res){
				$('.tips').text(res.info);
				setTimeout(function(){
                	$('.tips').fadeOut('slow');
                    if(res.status > 0){
                        window.top.location.href=res.url;
                    }
                },1500);
			}
		});
		return false;
	});
})
	
</script>
</body>
</html>
