<div class="error_cont">
	<ul>
		<li>您没有操作权限！</li>
		<li>系统将在<b id="time">3</b>秒后自动跳转</li>
	</ul>
	<div class="error_return"><a href="" id="url" class="btn">确定</a></div>
</div>
<script type="text/javascript">
	window.onload=function(){
		var time=document.getElementById('time').innerHTML;
		var url=document.getElementById('url').getAttribute('href');
		var tid=setInterval(function(){
			document.getElementById('time').innerHTML=--time;
			if(time<=0){
				clearInterval(tid);
				reloadPage(window.parent);
			}
		},1000);
	}
	
	function reloadPage(win) {
		var location = win.location;
		location.href = location.pathname + location.search;
	}
</script>