<div class="wrap">
	<div id="error_tips">
		<h2>信息提示</h2>
		<eq name="status" value="1"><div class="success_cont"></eq>
		<eq name="status" value="0"><div class="error_cont"></eq>
			<ul>
				<li><eq name="status" value="1">{$message}<else/>{$error}</eq></li>
				<li>系统将在<b id="time">{$waitSecond}</b>秒后自动跳转</li>
			</ul>
			<div class="error_return"><a href="{$jumpUrl}" id="url" class="btn">确定</a></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.onload=function(){
		var time=document.getElementById('time').innerHTML;
		var url=document.getElementById('url').getAttribute('href');
		var tid=setInterval(function(){
			document.getElementById('time').innerHTML=--time;
			if(time<=0){
				clearInterval(tid);
				if(url=='javascript:history.back(-1);'){
					window.history.back(-1);
				}else{
					window.location.href=url;
				}
			}
		},1000);
	}
</script>