<div class="wrap">
    <div class="nav">
        <div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
    </div>

    <form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
        <div class="J_tabs_contents">
            <div>
                <div class="h_a">服务商基础信息</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th"/>
                        <col width="400"/>
                        <col/>
                        <tr>
                            <th>服务商名</th>
                            <td><input type="text" class="input length_5" name="title" value="{$data.title}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>LOGO</th>
                            <td><input type="file" data-type="qiniu"
                                       data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="logo">
                                <input type="hidden" name="logo_url" value="{$data.logo_url}">
                                <div>
                                    <img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.logo_url}?imageView/1/w/246/h/185/q/85" alt="">
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>地区</th>
                            <td>
                                <select name="province" class="province">
                                    <option value="">请选择</option>
                                </select>
                                <select name="city" class="city">
                                    <option value="">请选择</option>
                                    <volist name="region" id="vo">
                                        <eq name="vo.parent_id" value="$data.province">
                                            <option <eq name="data.city" value="$vo.region_id">selected</eq> value="{$vo.region_id}">{$vo.region_name}</option>
                                        </eq>
                                    </volist>
                                </select>
                                <select name="district" class="region">
                                    <option value="">请选择</option>
                                    <volist name="region" id="vo">
                                        <eq name="vo.parent_id" value="$data.city">
                                            <option <eq name="data.district" value="$vo.region_id">selected</eq> value="{$vo.region_id}">{$vo.region_name}</option>
                                        </eq>
                                    </volist>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>地址</th>
                            <td><input type="text" class="input length_5" name="address" value="{$data.address}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>服务商简介</th>
                            <td><textarea class="textarea length_5" name="remark">{$data.remark}</textarea></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div class="h_a">联系人信息</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th"/>
                        <col width="400"/>
                        <col/>
                        <tr>
                            <th>姓名</th>
                            <td><input type="text" class="input length_5" name="contactor" value="{$data.contactor}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td><input type="email" class="input length_5" name="contact_email" value="{$data.contact_email}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>手机</th>
                            <td><input type="text" class="input length_5" name="contact_phone" value="{$data.contact_phone}"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div class="h_a">客服信息</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th"/>
                        <col width="400"/>
                        <col/>
                        <tr>
                            <th>客服电话</th>
                            <td><input type="text" class="input length_5" name="service_phone"  value="{$data.service_phone}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>客服邮箱</th>
                            <td><input type="text" class="input length_5" name="service_email"  value="{$data.service_email}"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div class="h_a">分销信息</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th"/>
                        <col width="400"/>
                        <col/>
                        <tr>
                            <th>是否分销</th>
                            <td>
                                <select name="is_fx">
                                    <option <eq name="data.is_fx" value="0">selected</eq> value="0">否</option>
                                    <option <eq name="data.is_fx" value="1">selected</eq> value="1">是</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>返佣比例</th>
                            <td><input type="number" class="input length_1" name="fx_percent" value="{$data.fx_percent}">%</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="btn_wrap">
                <div class="btn_wrap_pd">
                    <input type="hidden" name="id" value="{$data.id}">
                    <input type="hidden" name="qiniu_token" value="{$token}">
                    <button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var region = {:json_encode($region)};
    var COMPANY = {
        init: function() {
            this.region();
            $('.province').val({$data.province});
        },
        region: function(){
            var province = '<option value="">-请选择-</option>';
            $.each(region, function(index, val) {
                if (val.parent_id == 0) {
                    province += '<option value="'+ val.region_id +'">'+ val.region_name +'</option>';
                }
            });
            $('.province').html(province);

            $('.province').change(function() {
                var id = $(this).val(), city = '<option value="">-请选择-</option>';;
                if (id > 0) {
                    $.each(region, function(index, val) {
                        if (val.parent_id == id) {
                            city += '<option value="'+ val.region_id +'">'+ val.region_name +'</option>';
                        }
                    });
                }
                $('.city').html(city);
                $('.region').html('<option value="">-请选择-</option>');
            });
            $('.city').change(function() {
                var id = $(this).val(), city = '<option value="">-请选择-</option>';;
                if (id > 0) {
                    $.each(region, function(index, val) {
                        if (val.parent_id == id) {
                            city += '<option value="'+ val.region_id +'">'+ val.region_name +'</option>';
                        }
                    });
                }
                $('.region').html(city);
            });
        }
    };
    $(function(){
        COMPANY.init();
    })
</script>