<style type="text/css">
	body{ width:350px; }
</style>
<form class="J_ajaxForm" action="__URL__/update" method="post" >
	<div class="pop_cont pop_table" style="height:auto;">
		<table width="100%">
			<tr>
				<th>模型名称：</th>
				<td><input name="title" type="text" class="input length_3" value="{$data.title}"></td>
			</tr>
			<tr>
				<th>模型表名称：</th>
				<td>
					<input name="tablename" disabled type="text" class="input length_3" value="{$data.tablename}">
					<div class="tips-info">表名必须为字母、数字、下划线，不允许修改</div>
				</td>
			</tr>
			<tr>
				<th>创建关联内容表：</th>
				<td>
					<select name="is_content" disabled>
						<option value="1" <eq name="data.is_content" value="1">selected</eq>>是</option>
						<option value="0" <eq name="data.is_content" value="0">selected</eq>>否</option>
					</select>
					<div class="tips-info">创建该表关联的内容字段表</div>
				</td>
			</tr>
			<tr>
				<th>备注：</th>
				<td>
					<textarea style="width:170px;height:36" name="remark">{$data.remark}</textarea>
				</td>
			</tr>
		</table>
	</div>
	<div class="pop_bottom">
		<input type="hidden" name="id" value="{$data.id}" />
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button type="submit" class="btn btn_submit mr10 fr J_ajax_submit_btn">提交</button>
	</div>
</form>
