<style type="text/css">
body {
	width: 440px;
}
</style>
<div>
	<!-- mod start -->
	<form method="post" class="J_ajaxForm" action="__URL__/update">
		<div class="pop_cont pop_table">
			<table width="100%" style="table-layout: fixed;">
				<col width="80" />
				<col />
				<tr>
					<th>上级导航</th>
					<td>
						<span class="must_red">*</span>
						<select name="parent" class="select_5">
								<option value='root'>顶级导航</option>
								<volist name="menu" id="vo">
									<option <eq name="data.parent" value="$vo['id']">selected="selected"</eq> value="{$vo.id}">{$vo.name}</option>
								</volist>
						</select>
					</td>
				</tr>
				<tr>
					<th>栏目名称</th>
					<td>
						<span class="must_red">*</span>
						<input type="text" name="name" class="input input_hd length_5" value="{$data.name}">
					</td>
				</tr>
				<tr>
					<th>标识</th>
					<td>
						<div class="mb5">
							<span class="must_red">*</span>
							<input type="text" name="id" class="input length_5" value="{$data.id}">
						</div>
						<div class="gray">只允许为字母或数字或下划线组合</div>
					</td>
				</tr>
				<tr>
					<th>链接地址</th>
					<td>
						<div class="mb5">
							<input type="text" name="url" class="input length_5" value="{$data.url}">
						</div>
						<div class="gray">格式：模型/方法</div>
					</td>
				</tr>
				<tr>
					<th>顺序</th>
					<td><input type="text" name="sort" class="input length_5"
						value="{$data.sort}"></td>
				</tr>

				<tr>
					<th>是否启用</th>
					<td>
						<ul class="three_list cc">
							<li>
								<label><input name="status" <eq name="data.status" value="1">checked="checked"</eq> type="checkbox" value="1">启用</label>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<!-- mod end -->
		<div class="pop_bottom">
			<button class="btn fr" id="J_dialog_close" type="button">取消</button>
			<button class="btn btn_submit J_ajax_submit_btn mr10 fr" type="submit">提交</button>
			<input name="mid" type="hidden" value="{$data.mid}">
		</div>
	</form>
	<!-- end -->
</div>
