<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/insert" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">新增</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>标题</th>
					<td><input type="text" class="input length_5" name="title"></td>
				</tr>
				<tr>
					<th>封面</th>
					<td><input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover"></td>
				</tr>
				<tr>
					<th>简介</th>
					<td>
						<textarea name="brief" rows="20" cols="50"></textarea>
					</td>
				</tr>
				<tr>
					<th>时间</th>
					<td><input type="text" class="input length_5 J_date" name="date"></td>
				</tr>
			</table>
		</div>
	</div>
<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</div>
</form>
