@charset "utf-8";
@import "hbVariables";
@import "hbReset";
@import "hbAnimated";

body{
  background-color: #f7f7f7;
  margin-bottom: 1.2rem;
}
.haloIcon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.myLine{
 position:relative;
  &:after{
    content: "  ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    //border-bottom:1px solid #e1e1e1;
    transform: scaleY(.5);
  }
}
.lineLast{
  display: none;
}
.common-header-wrapper{
  //display: flex;
  //justify-content: space-between;
  height:1.27rem;
  line-height: 1.27rem;
  background-color: #E74C3C;
  color:#fff;
  font-size:0.3rem;
  position:relative;
  text-align: center;
  .left-box{
    position: absolute;
    .haloIcon-back{
      font-size:0.4rem;
    }
  }
}
.company-desc-wrapper{
  padding:0 0.3rem;
  background: #ffffff;
  border-bottom:1px dashed #fdfdfd;
  .company-show{
    .show-left-box {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0.3rem 0.3rem 0.3rem 0;
      border-radius: 50%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        border: 1px solid #dfdfdf;
        border-radius: 50%;
        left: 0;
        top: 0;
        transform: scale(0.5);
        transform-origin: 0 0;
      }
      .show-left {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        //margin:0.3rem 0.3rem 0.3rem 0;
      }
    }
    .show-right{
      display: inline-block;
      vertical-align:middle;
      width:5.5rem;
      .company-title{
        font-size:0.3rem;
        color:$mainTextColor;
        //margin-bottom:0.12rem;
      }
    }
  }
  .company-profile{
    .company-myprofile{
      @extend .guest-myprofile;
      color:$mainThirdColor;
      font-size:0.26rem;
      line-height: 0.39rem;
      padding-top:0.3rem;
      margin-bottom: 0.3rem;
      //line-clamp:2;
      overflow: hidden;
      text-overflow: ellipsis;
      //display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: 0.4s;
    }
    .company-more{
      width:1.8rem;
      margin:0 auto;
      margin-bottom:0.4rem;
      text-align: center;
      font-size:0.24rem;
      color:$mainSecondColor;
      .company-more-word{
        font-size:0.24rem;
        color:$mainSecondColor;
        margin:0.1rem 0.1rem 0rem 0;
        text-align: center;
        display: inline-block;
      }
      .company-more-arrow{
        display: inline-block;
        font-size:0.24rem;
      }
    }
  }
}
.company-member-wrapper{
  margin:0.3rem 0;
  padding:0 0.3rem;
  background: #fff;
  @extend %cf;
  .company-chengyuan{
    padding:0.4rem 0;
    font-size:0.28rem;
    color:$mainTextColor;
  }
  .member-list-box{
    width:100%;
    @extend %cf;
    //height:3rem;
    //overflow-x: auto;
    //overflow-y: hidden;
    //white-space: nowrap;

    .member-list{
      float:left;
      margin-right: 0.5rem;
      width:1.2rem;
      text-align: center;
      .member-images-box{
        width:0.86rem;
        height:0.86rem;
        margin:0 0.17rem;
        position:relative;
        &:before{
          content:"";
          position:absolute;
          width:200%;
          height:200%;
          border:1px solid #dfdfdf;
          border-radius: 50%;
          left:0;
          top:0;
          transform: scale(0.5);
          transform-origin: 0 0;
        }
        .member-images{
          width:0.86rem;
          height:0.86rem;
          border-radius: 50%;
          display: block;
        }
      }
      .member-name{
        margin-top:0.2rem;
        font-size:0.26rem;
        color: $mainTextColor;
        text-align: center;
      }
      .member-position{
        width:1.2rem;
        margin:0.12rem 0 0.4rem 0;
        font-size:0.22rem;
        color:$mainSecondColor;
      }
    }
    .member-list-no{
      margin-right: 0;
    }
  }

}
.guest-desc-wrapper{
  padding:0 0.3rem;
  background: #ffffff;
  border-bottom:1px dashed #fdfdfd;
  .guest-show{
    //border-bottom:1px solid #e1e1e1;
    display: flex;
    align-items: center;
    .show-left-box {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0.3rem 0.3rem 0.3rem 0;
      border-radius: 50%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        border: 1px solid #dfdfdf;
        border-radius: 50%;
        left: 0;
        top: 0;
        transform: scale(0.5);
        transform-origin: 0 0;
      }
      .show-left {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        //margin:0.3rem 0.3rem 0.3rem 0;
      }
    }
    .show-right{
      display: inline-block;
      vertical-align:middle;
      width:5.5rem;
      .guess-title{
        font-size:0.3rem;
        color:$mainTextColor;
        margin-bottom:0.12rem;
      }
      .guess-position{
        font-size:0.24rem;
        color:$mainSecondColor;
      }
    }
  }
  .guest-profile{
    .guest-myprofile{
      color:$mainThirdColor;
      font-size:0.26rem;
      line-height: 0.39rem;
      padding-top:0.3rem;
      margin-bottom:0.3rem;
      //line-clamp:2;
      overflow: hidden;
      text-overflow: ellipsis;
      //display: -webkit-box;
      //transition: 0.4s;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .guest-more{
      width:1.8rem;
      margin:0 auto;
      text-align: center;
      font-size:0.24rem;
      color:$mainSecondColor;
      margin-bottom: 0.4rem;
      .guest-more-word{
        font-size:0.24rem;
        color:$mainSecondColor;
        margin:0.1rem 0.1rem 0rem 0;
        text-align: center;
        display: inline-block;
      }
      .guest-more-arrow{
        display: inline-block;
        font-size:0.24rem;
      }
    }
  }
}
.guest-company-wrapper{
  display: block;
  height:1.16rem;
  line-height:1.16rem;
  margin:0.3rem 0;
  //padding:0.35rem 0.3rem;
  padding:0 0.3rem;
  background: #fff;
  border-left:1px dashed #fdfdfd;
  border-bottom:1px dashed #fdfdfd;
  font-size:0.28rem;
  @extend %cf;
  .haloIcon-company{
    font-size:0.35rem;
    display: inline-block;
    vertical-align: middle;
  }
  .company-name{
    color:$mainTextColor;
    height:0.3rem;
    line-height: 0.3rem;
    margin-left:0.16rem;
    display: inline-block;
    //vertical-align: middle;
  }
  .company-more{
    float:right;
  }
}
.common-article-wrapper{
  @extend %cf;
  background: #fff;
  margin-top:0.3rem;
  .article-top{
    padding:0.4rem 0.3rem 0.1rem 0.3rem;
    @extend %cf;
    .article-title{
      font-size:0.28rem;
      color:$mainTextColor;
      float: left;
    }
    .article-watch{
      font-size:0.24rem;
      color:$mainSecondColor;
      margin-right:0.1rem;
      float:right;
    }
    .article-arrow{
      float: right;
      font-size:0.24rem;
    }
  }

}

.article-detail{
  margin:0 0.3rem;
  display: block;
  .article-list-box{
    @extend %cf;
    padding:0.3rem 0;
    //border-bottom: 1px solid #dfdfdf;
    .list-images-box{
      width:2.38rem;
      height:1.58rem;
      position: relative;
      float:left;
      &:before{
        content:"";
        position: absolute;
        width:200%;
        height:200%;
        border:1px solid #dfdfdf;
        left:0;
        top:0;
        transform-origin: 0 0;
        transform: scale(0.5, 0.5);
        //box-sizing: border-box;
      }
      .list-images{
        width:2.38rem;
        height:1.58rem;
      }
    }
    .list-word{
      width:4.4rem;
      float:left;
      margin-left:0.12rem;
      height:1.58rem;
      .word{
        height:0.88rem;
        font-size:0.3rem;
        color:$mainTextColor;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .list-icon-box{
        height:0.7rem;
        //line-height: 0.7rem;
        @extend %cf;
        position: relative;
        .list-icon-first{
          position: absolute;
          bottom: 0;
          line-height: 0.1rem;
          .list-icon{
            margin-right:0.24rem;
            height:0.35rem;
            line-height:0.35rem;
            font-size:0.24rem;
            //margin-top:0.35rem;
            //margin-top:0.4rem;
            display:inline-block;
            vertical-align: middle;
            color:$mainSecondColor;

            .haloIcon-common{
              margin-right:0.08rem;
            }
          }
        }

      }
      .goldBearVideo-title{
          height:0.52rem;
          line-height: 0.52rem;
          font-size:0.3rem;
          color:$mainTextColor;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
      }
      .goldBearVideo-company-name{
          height:0.54rem;
          line-height: 0.54rem;
          color:$mainThirdColor;
          font-size: 0.24rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
      }
      .goldBear-list-icon-box{
        height:0.52rem;
        line-height: 0.52rem;
      }
    }
  }
}
.articles-list-wrapper{
  background: #fff;
}
.videos-list-wrapper{
  background: #fff;
}

//金熊奖
.goldBear-desc-wrapper{
  @extend .company-desc-wrapper
}
.goldBear-video-wrapper{
  background: #fff;
  margin:0.3rem 0;
  padding:0 0.3rem;
  .videos-url{
    width:6.9rem;
    height: 3.88rem;
    background-color: rgba(0,0,0,0.3);
    margin:0.3rem 0;
  }
  .video-title{
    padding-bottom: 0.4rem;
    color:$mainThirdColor;
    font-size:0.26rem;
  }
}

.dowload-block{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background: rgba(27,28,32,.8);
  display: flex;;
  align-items: center;
  .logo{
    width: 0.9rem;
    //height:0.9rem;
    margin-left: 0.2rem;
  }
  .info{
    color: #fff;
    margin-left: 0.2rem;
    .title{
      font-size: 0.32rem;
    }
    .desc{
      font-size: 0.22rem;
    }
  }
  .close{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    right: 0;
    top: 0;
    color:#fff;
    text-align: center;
    opacity: 1;
    .haloIcon-times{
      font-size:0.26rem;
      font-weight: bold;
      color: #ffffff;
    }
  }
  .btn-primary{
    position: absolute;
    top: 0.3rem;
    right: 0.54rem;
    font-size: 0.26rem;
    width: 1.6rem;
    height: 0.6rem;
    //line-height: 30px;
    z-index: 1;
    color: #fff;
    background-color: #e95a4b;
    border-color: #e95a4b;
    border-radius: 0.12rem;
    text-align: center;
  }
}