<!--日历css/-->
<div class="wrap">
    <div class="nav">
        <div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
    </div>

    <form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
        <div class="J_tabs_contents">
            <div>
                <div class="h_a">新增</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th" />
                        <col width="400" />
                        <col />
                        <tr>
                            <th>标题</th>
                            <td><input type="text" class="input length_5" name="title" value="{$data.title}">
                                <input type="text" name="id" value="{$data['id']}" style="display: none">
                            </td>
                        </tr>
                        <tr>
                            <th>图片</th>
                            <td>
                                <input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="banner">
                                <div>
                                    <img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.banner_url}?imageView/1/w/246/h/185/q/85" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>描述</th>
                            <td><input type="text" class="input length_5" name="desc" value="{$data.desc}"></td>
                        </tr>
                        <tr>
                            <th>URL或ID</th>
                            <td><input type="text" class="input length_5" name="redirect_url_id" value="{$data.redirect_url_id}"></td>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <td>
                            <select name="type">
                                <option value="" <eq name="data.redirect_url_id" value="">selected</eq>>请选择</option>
                                <volist name="type" id="vo">
                                    <option value="{$key}" <eq name="data.redirect_url_id" value="{$key}">selected</eq>>{$vo}</option>
                                </volist>
                            </select>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="btn_wrap">
                <div class="btn_wrap_pd">
                    <input type="hidden" name="qiniu_token" value="{$token}">
                    <button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>



