<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">工作日期</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>标题</th>
					<td><input type="text" class="input length_5" name="title" value="{$data.title}"></td>
				</tr>
				<tr>
					<th>封面</th>
					<td>
						<input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover">
						<input type="hidden" name="cover_url" value="{$data.cover_url}">
						<div>
							<img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.cover_url}?imageView/1/w/246/h/185/q/85" alt="">
						</div>
					</td>
				</tr>
				<tr>
					<th>封面小图</th>
					<td>
						<input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover_small">
						<input type="hidden" name="cover_small_url" value="{$data.cover_small_url}">
						<div>
							<img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.cover_small_url}?imageView/1/w/246/h/185/q/85" alt="">
						</div>
					</td>
				</tr>
				<tr>
					<th>嘉宾</th>
					<td>
						<div class="fl">
							<div id="J_search_suggestion" class="forum_search_pop" style="display:none;margin-top:25px;"></div>
						</div>
						<input id="J_search_input" class="input length_3 mr10" name="guests" value="{$guest_name}" autoComplete="off" type="text">
						<input type="hidden" name="guest_id" value="{$data.guest_id}">
					</td>
				</tr>
				<tr>
					<th>分类</th>
					<td>
						<select class="cate" name="cate_id">
							<option value="">请选择</option>
							<volist name="cate" id="vo">
								<option value="{$key}" <eq name="data.cate_id" value="$key">selected</eq>>{$vo}</option>
							</volist>
						</select>
					</td>
				</tr>
				<tr>
					<th>服务商</th>
					<td>
						<select name="isv_id">
							<volist name="isv" id="vo">
								<option <eq name="data.isv_id" value="$vo.id">selected</eq> value="{$vo.id}">{$vo.title}</option>
							</volist>
						</select>
					</td>
				</tr>
				<tr>
					<th>城市</th>
					<td><input type="text" class="input length_5" name="city" value="{$data.city}"></td>
				</tr>
				<tr>
					<th>座椅数</th>
					<td><input type="number" class="input length_1" name="room_rows" min="4" value="{$data.room_rows}"> 行 X <input type="number" class="input length_1" name="room_cols" min="4" value="{$data.room_cols}"> 列</td>
				</tr>
				<tr>
					<th>价格</th>
					<td><input type="number" class="input length_5" name="price" value="{$data.price}"></td>
				</tr>
				<tr>
					<th>阶梯价格</th>
					<td class="model-price">
                        <empty name="data.price_model">
                            <div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期"><input placeholder="价格"  type="number" class="input length_2" name="price_model[price][]"> </div>
							<!--<a href="javascript:;" class="add">新增</a>-->
                            <!--<div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期"><input placeholder="价格"  type="number" class="input length_2" name="price_model[price][]"></div>-->
                            <!--<div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期"><input placeholder="价格"  type="number" class="input length_2" name="price_model[price][]"></div>-->
                            <!--<div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期"><input placeholder="价格"  type="number" class="input length_2" name="price_model[price][]"></div>-->
                            <!--<div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期"><input placeholder="价格"  type="number" class="input length_2" name="price_model[price][]"></div>-->
                            <else/>
						<volist name="data.price_model" id="vo">
                            <div class="price-item"><input type="text" class="input length_3 J_date" name="price_model[date][]" placeholder="选择日期" value="{$vo.date}"><input placeholder="价格" value="{$vo.price}"  type="number" class="input length_2" name="price_model[price][]">
                                </div>
							<!--<eq name="key" value="0"><a href="javascript:;" class="add">新增</a></eq>-->
                        </volist>
                        </empty>
						</td>
				</tr>
				<tr>
					<th>场地</th>
					<td><input type="text" class="input length_5" name="place" value="{$data.place}"></td>
				</tr>
				<tr>
					<th>上课日期</th>
					<td><input type="text" class="input length_5 J_date" name="start_date" value="{:date('Y-m-d', $data['start_date'])}"></td>
				</tr>
				<tr>
					<th>结束日期</th>
					<td><input type="text" class="input length_5 J_date" name="end_date" value="{:date('Y-m-d', $data['end_date'])}"></td>
				</tr>
				<tr>
					<th>天数</th>
					<td><input type="number" class="input length_5" name="day" value="{$data.day}"></td>
				</tr>
				<tr>
					<th>课程阶段</th>
					<td>
						<select name="step">
							<option <eq name="data.step" value="0">selected</eq> value="0">预约</option>
							<option <eq name="data.step" value="1">selected</eq> value="1">报名</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>内容</th>
					<td>
						<textarea name="content" type="editor" cols="30" rows="10">{$data.content}</textarea>
					</td>
				</tr>
				<tr>
					<th>排序</th>
					<td><input type="number" class="input length_2" name="sort" value="{$data.sort}"><p>数值越大越靠前</p></td>
				</tr>
			</table>
		</div>
	</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>
<script>
	$(function(){
//		$('.cate').change(function() {
//			var name = $(this).attr('name');
//			$('input[name='+ name +'_title]').val($(this).children('option:selected').text());
//		});

		$('#J_search_suggestion').on('click', 'li', function(){
			$('input[name=guest_id]').val($(this).data('id'));
			$('input[name=guests]').val($(this).text());
		})

		/*
		 搜索建议：输入>=2个字符开始提交查询，支持上下键选择；点击下拉的匹配项进入分类编辑，点击搜索按钮则高亮匹配的tr行
		 */

		var search_input = $('#J_search_input'),			//搜索栏
				suggestion_list = $('#J_search_suggestion'),	//搜索匹配列表
				input_val;										//搜索值，用于比较是否有更改

		//搜索框聚焦
		search_input.focus(function(){
			var $this = $(this);

			//搜索框粘帖
			this.onpaste = function(){

				//清楚重复的延时操作
				if(search_input.ptimer) {
					clearTimeout(search_input.ptimer);
				}

				//粘帖半秒后提交查询
				search_input.ptimer = setTimeout(function(){
					search_suggestion($('#J_search_input').val());
				}, 500)

			}

			//通过浏览器（ff8.0）“后退”到本页面时，可能搜索内容为空，但是有隐藏的匹配项
			if(!$this.val()) {
				return false;
			}

			//已经匹配搜索，搜索框重新聚焦时显示匹配，避免重复ajax
			if(suggestion_list.children().length) {
				suggestion_list.fadeIn('fast');
			}

		});



		//搜索输入
		search_input.keyup(function(e){
			var $this = $(this);

			//键盘上下选择搜索建议
			if(suggestion_list.children().length & (e.keyCode === 38 || e.keyCode === 40)) {

				var li_current = suggestion_list.find('li.current'); //当前选中项，上下键未修改状态
				/*var f_or_l = (e.keyCode === 40 ? 'first' : 'last'),
				 p_or_n = (e.keyCode === 40 ? $.next : 'prev');*/
				//
				if(e.keyCode === 38) {
					//键盘_向上

					if(!li_current.length) {
						//没有有选中项时
						suggestion_list.find('li:last').addClass('current');
					}else{
						//有选中项时
						li_current.removeClass('current').prev().addClass('current');
					}



				}else if(e.keyCode === 40) {
					//键盘_向下

					if(!li_current.length) {
						//没有有选中项时
						suggestion_list.find('li:first').addClass('current');
					}else{
						//有选中项时
						li_current.removeClass('current').next().addClass('current');
					}

				}

				if(suggestion_list.find('li.current').length) {
					search_input.val(suggestion_list.find('li.current').text());
				}else{
					search_input.val(input_val);
				}

				return false;


			}


			if($this.val() === input_val) {
				return false; //搜索值未改变则不做查询
			}

			//停止输入半秒后开始查询
			if(search_input.timer) {
				clearTimeout(search_input.timer);
			}
			search_input.timer = setTimeout(function(){
				search_suggestion($this.val());
			}, 500);

		});

		//搜索框失焦，隐藏匹配列表
		search_input.blur(function() {
			suggestion_list.fadeOut('fast');
		});

		//搜索查询显示函数
		function search_suggestion(search_data) {
			input_val = search_data; //把搜索值赋给input_val，用于比较搜索值
			var search_text = $.trim(search_data.replace(/[^\x00-\xff]/g, "**")); //搜索内容首尾去空格，且每1个汉字转由两个*符号替代

			if(search_text.length >= 2) {
				//搜索内容大于2个字符，提交查询

				$.post('/school_video/search', {'guests':search_data}, function(data) {

					if(data.state === 'success') {
						var push_html = [];
						$.each(data.data, function(i, o){
							push_html.push('<li class="item" data-id='+ o.id +'>'+ o.title +'</li>');
						});console.log(push_html);
						suggestion_list.html($('<ul/>').append(push_html.join(''))).fadeIn('fast');
					}else{
						suggestion_list.fadeOut('fast', function(){
							$(this).empty();
						});
					}

				}, 'json');

			}else{
				//搜索内容大于2个字符，隐藏并清空下拉匹配
				suggestion_list.fadeOut('fast', function(){
					$(this).empty();
				});
			}
		}

	});
</script>