<style type="text/css">
	body{ width:320px; }
</style>
<form class="J_ajaxForm" action="__URL__/insert" method="post" >
	<div class="pop_cont pop_table" style="height:auto;">
		<table width="100%">
			<tr>
				<th>用户名：</th>
				<td>
					<input name="username" type="text" class="input length_3" value="{$Think.get.username}">
					<div class="tips-info">用户名只支持中文、字母、数字、下划线</div>
				</td>
			</tr>
			<tr>
				<th>密码：</th>
				<td><input name="password" type="text" class="input length_3"></td>
			</tr>
			<tr>
				<th>手机：</th>
				<td><input name="phone" type="text" class="input length_3"></td>
			</tr>
		</table>
	</div>
	<div class="pop_bottom">
		<input type="hidden" name="act" value="{$Think.get.act}" />
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button type="submit" class="btn btn_submit mr10 fr J_ajax_submit_btn">提交</button>
	</div>
</form>
