<div class="wrap J_check_wrap">
	<!--说明-->
	<div class="h_a">说明</div>
	<div class="prompt_text">
		<ol>
			<li>添加和修改用户时，用户名只支持中文、字母、数字、下划线</li>
		</ol>
	</div>
	<!--/说明-->
	<!--操作-->
	<div class="mb10">
		<a class="btn J_dialog" href="__URL__/add" title="新增用户"><span class="add"></span>新增用户</a>
	</div>
	<!--/操作-->
	<!--搜索-->
	<div class="h_a">搜索</div>
	<form action="__URL__/index" method="get">
		<div class="search_type cc mb10">
			<label>用户名包含：</label>
			<input name="username" type="text" class="input length_2 mr10" value="{$Think.get.username}"/>
			<label>phone：</label>
			<input name="phone" type="text" class="input mr10" value="{$Think.get.phone}">
			<label>前</label>
			<input name="login_days" type="text" class="input mr10" value=""><label>天登录过</label>
			<button type="submit" class="btn">搜索</button>
		</div>
	</form>
	<!--/搜索-->
	<!--列表-->
	<form class="J_ajaxForm" action="" method="post">
		<div class="table_list">
			<lists:list box="id" name="list" show="{field:uid,title:UID,width:60}{field:username,title:用户名,width:120}{field:phone,title:手机号,width:120}{field:company,title:公司,width:120}{field:city,title:城市,width:60}{field:wechat,title:微信,width:120}{field:create_time,title:注册时间,func:date='y-m-d H#i'/###,width:120,order:desc}{field:last_time,title:最后登录时间,func:date='y-m-d H#i'/###,width:120,order:desc}{field:status,title:状态,order:desc,width:60,func:get_status}{{title:操作,text:编辑,url:__URL__/edit/id/$id,class:J_dialog}}"/>
			<div class="p10"></div>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<div class="select_pages"><div class="pages">{$page}</div></div>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/delete" data-subcheck="true" data-msg="你确定删除选择的这些用户吗？">删除</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/forbid">禁用</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/resume">恢复</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/sendMsg">发送短信</button>
			</div>
		</div>
	</form>
	<!--/列表-->
</div>
