<!--日历css/-->
<div class="wrap">
    <div class="nav">
        <div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
    </div>

    <form id="J_rigths_form" class="J_ajaxForm" action="__URL__/insert" method="post" enctype="multipart/form-data">
        <div class="J_tabs_contents">
            <div>
                <div class="h_a">新增</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th" />
                        <col width="400" />
                        <col />
                        <tr>
                            <th>标题</th>
                            <td><input type="text" class="input length_5" name="headline"></td>
                        </tr>
                        <tr>
                            <th>封面</th>
                            <td><input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.clouddn.com"  multiple="multiple" key="cover" name="cover"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>简介</th>
                            <td><input type="text" class="input length_5" name="brief"></td>
                        </tr>
                        <tr>
                            <th>分类</th>
                            <td>
                                <select name="category_id" id="category_id">
                                    <volist name="category" id="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>内容</th>
                            <td><p style="color: red">上传图片名不能有汉字，否则上传不成功！请重命名为字母、数字或其组合，再上传！</p>
                                <textarea name="content" id="content" type="editor"></textarea></td>
                        </tr>
                        <tr>
                            <th>排序</th>
                            <td><input type="number" class="input length_5" name="sort" value="0" min="0"><p>数值越大越靠前</p></td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="btn_wrap">
                <div class="btn_wrap_pd">
                    <input type="hidden" name="qiniu_token" value="{$token}">

                    <button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>



