
<!--日历css/-->
<div class="wrap">
    <div class="nav">
        <div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
    </div>

    <form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
        <div class="J_tabs_contents">
            <div>
                <div class="h_a">编辑</div>
                <div class="table_full">
                    <table width="100%">
                        <col class="th" />
                        <col width="400" />
                        <col />
                        <tr>
                            <th>标题</th>
                            <td><input type="text" class="input length_5" name="headline" value="{$data['headline']}">
                                <input type="text" name="id" value="{$data['id']}" style="display: none">
                            </td>
                        </tr>
                        <tr>
                            <th>封面</th>
                            <td>
                                <input type="file" data-type="qiniu"  multiple="multiple" data-base-url="http://7xopel.com2.z0.glb.clouddn.com" key="cover" name="cover">
                                <fieldset>
                                    <legend>附件列表：</legend>
                                    <volist name="attach" id="vo">
                                        <span><a href="{$vo.src}" target="_blank"><img src="{$vo.src}" style="width: 300px;height: 300px"><a href="__URL__/attach_delete?id={$vo.id}" onclick="if (confirm('确定移除吗？')) {deleteFile(this)};return false;">移除</a></span>
                                    </volist>
                                </fieldset>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>简介</th>
                            <td><input type="text" class="input length_5" name="brief" value="{$data['brief']}"></td>
                        </tr>
                        <tr>
                            <th>作者</th>
                            <td>
                                <select name="auther_type" id="auther_type">
                                    <volist name="auther_type" id="vo">
                                        <option value="{$key}" <eq name="data.auther_type" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                                <div class="fl">
                                    <div id="J_search_suggestion" class="forum_search_pop" style="display:none;margin-top:25px;"></div>
                                </div>
                                <input id="J_search_input" class="input length_3 mr10" name="auther_name" autoComplete="off" type="text" value="{$data['auther_name']}">
                                <input type="hidden" name="auther_id" value="{$data['auther_id']}">
                            </td>
                        </tr>
                        <tr>
                            <th>分类</th>
                            <td>
                                <select name="category_id" id="category_id">
                                    <option value="">请选择</option>
                                    <volist name="category" id="vo">
                                        <option value="{$vo.id}" <eq name="data.category_id" value="$vo.id">selected</eq>>{$vo.name}</option>
                                    </volist>
                                </select>
                                <input type="text" class="input length_5" name="old_category" value="{$categoryName['name']}" disabled>

                            </td>

                        </tr>
                        <tr>
                            <th>是否要跳转到H5详情页</th>
                            <td>
                            <select name="is_h5" id="is_h5">
                                <option value="0" <eq name="data.is_h5" value="0">selected</eq>>否</option>
                                <option value="1" <eq name="data.is_h5" value="1">selected</eq>>是</option>
                            </select>
                            </td>
                        </tr>
                        <tr  id="editor">
                            <th>内容<p style="color: red">（删除图片时请将下面列表中的图片和编辑器中对应的图片同时删除！）</p></th>
                            <td><p style="color: red">上传图片名不能有汉字，否则上传不成功！请重命名为字母、数字或其组合，再上传！</p>
                                <textarea name="content" id="content" type="editor" >{$data['content']}</textarea></td>
                        </tr>
                        <tr>
                            <th>是否设为推荐</th>
                            <td>
                                <select name="is_recommend">
                                    <option value="0" <eq name="data.is_recommend" value="0">selected</eq>>否</option>
                                    <option value="1" <eq name="data.is_recommend" value="1">selected</eq>>是</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>分享页地址</th>
                            <td><input type="text" class="input length_5" name="share_url" value="{$data['share_url']}"></td>
                        </tr>
                        <tr>
                            <th>跳转到H5详情页地址</th>
                            <td><input type="text" class="input length_5" name="redirect_url" value="{$data['redirect_url']}"></td>
                        </tr>
                        <tr>
                            <th>排序</th>
                            <td><input type="number" class="input length_5" name="sort" value="{$data['sort']}" min="0"><p>数值越大越靠前</p></td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="btn_wrap">
                <div class="btn_wrap_pd">
                    <input type="hidden" name="qiniu_token" value="{$token}">
                    <button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
                </div><br><br>
            </div>
        </div>
    </form>
    <table width="100%">
        <col class="th" />
        <col width="30%" />
        <col />
        <tr>
            <td>
                <tr>
                    <th></th>
                    <th>编号</th>
                    <th>文件名</th>
                     <th>url</th>
                </tr>
                <volist name="imgs" id="vo">
                    <tr>
                        <td><input type="radio" value="{$vo['id']}" name="radio_img"></td>
                        <td name="attach_id">{$vo['id']}</td>
                        <td name="name">{$vo['name']}</td>
                        <td name="url"><img src="{$vo['url']}" style="width: 200px;height: 100px" ></td>
                    </tr>
                </volist>
            </td>
        </tr>
    </table>
    <div class="btn_wrap">
        <div class="panel panel-default" name="dialog_delete" id="dialog_delete" style="width:250px; height:100px;display: none;background-color: silver" >
            <p style="text-align: center">您确定要删除列表中这张图片吗?</p>
            <p style="text-align: center">确定删除成功后，请在编辑器中手动删除对应的图片</p><br>
            <div class="panel-footer" style="text-align: right" >
                <a href="__URL__/deleteImg?attach_id={$vo['id']}&wedding_id={$data['id']}" id="true_img">确定</a>
                <button name="cancel_delete" id="cancel_delete">取消</button>
            </div>
        </div>
        <div class="btn_wrap_pd">
            <button class="btn J_ajax_submit_btn" id="delete_img" type="button" >删除</button><p style="display: none;color: red;" id="tips">请选中一项数据！</p>
            <input type="text" id="wedding_id" value="{$data['id']}" style="display: none">
        </div>

    </div>
</div>
<!--图片删除-->
<script>
    $('#delete_img').click(function(){
        var radio= $("input[name='radio_img']:checked");

        if(radio.val()){
            var attach_id = radio.val();
            var wedding_id = $('#wedding_id').val();
            var param = '__URL__/deleteImg?attach_id='+attach_id+'&wedding_id='+wedding_id;
            $('#true_img').attr('href',param);
            $('#dialog_delete').show();
            $('#tips').hide();
        }else {
            $('#tips').show();
        }

    })
    $('input:radio[name="radio_img"]:checked').val();
    $('#cancel_delete').click(function(){
        $('#dialog_delete').hide();
        var radio= $("input[name='radio_img']:checked");
        radio.attr('checked',false);
    })
</script>
<!--/图片删除-->

<!--选择跳转到h5页面，编辑框隐藏-->
<script>
    $(document).ready(function(){
        var status = $('#is_h5').val();
        if (status==1){
            $('#editor').hide();
        }
        $('option[value=1]').click(function(){
            $('#editor').hide();
        });
        $('option[value=0]').click(function(){
            $('#editor').show();
        });
    });

</script>
<!--/选择跳转到h5页面，编辑框隐藏-->
<!--公司和嘉宾搜索-->
<script>
    $(function(){
        $('.cate').change(function() {
            var name = $(this).attr('name');
            $('input[name='+ name +'_title]').val($(this).children('option:selected').text());
        });

        $('#J_search_suggestion').on('click', 'li', function(){
            $('input[name=auther_id]').val($(this).data('id'));
            $('input[name=auther_name]').val($(this).text());
        })

        /*
         搜索建议：输入>=2个字符开始提交查询，支持上下键选择；点击下拉的匹配项进入分类编辑，点击搜索按钮则高亮匹配的tr行
         */

        var search_input = $('#J_search_input'),			//搜索栏
                suggestion_list = $('#J_search_suggestion'),	//搜索匹配列表
                input_val;										//搜索值，用于比较是否有更改

        //搜索框聚焦
        search_input.focus(function(){
            var $this = $(this);

            //搜索框粘帖
            this.onpaste = function(){

                //清楚重复的延时操作
                if(search_input.ptimer) {
                    clearTimeout(search_input.ptimer);
                }

                //粘帖半秒后提交查询
                search_input.ptimer = setTimeout(function(){
                    search_suggestion($('#J_search_input').val());
                }, 500)

            }

            //通过浏览器（ff8.0）“后退”到本页面时，可能搜索内容为空，但是有隐藏的匹配项
            if(!$this.val()) {
                return false;
            }

            //已经匹配搜索，搜索框重新聚焦时显示匹配，避免重复ajax
            if(suggestion_list.children().length) {
                suggestion_list.fadeIn('fast');
            }

        });



        //搜索输入
        search_input.keyup(function(e){
            var $this = $(this);

            //键盘上下选择搜索建议
            if(suggestion_list.children().length & (e.keyCode === 38 || e.keyCode === 40)) {

                var li_current = suggestion_list.find('li.current'); //当前选中项，上下键未修改状态
                /*var f_or_l = (e.keyCode === 40 ? 'first' : 'last'),
                 p_or_n = (e.keyCode === 40 ? $.next : 'prev');*/
                //
                if(e.keyCode === 38) {
                    //键盘_向上

                    if(!li_current.length) {
                        //没有有选中项时
                        suggestion_list.find('li:last').addClass('current');
                    }else{
                        //有选中项时
                        li_current.removeClass('current').prev().addClass('current');
                    }



                }else if(e.keyCode === 40) {
                    //键盘_向下

                    if(!li_current.length) {
                        //没有有选中项时
                        suggestion_list.find('li:first').addClass('current');
                    }else{
                        //有选中项时
                        li_current.removeClass('current').next().addClass('current');
                    }

                }

                if(suggestion_list.find('li.current').length) {
                    search_input.val(suggestion_list.find('li.current').text());
                }else{
                    search_input.val(input_val);
                }

                return false;


            }


            if($this.val() === input_val) {
                return false; //搜索值未改变则不做查询
            }

            //停止输入半秒后开始查询
            if(search_input.timer) {
                clearTimeout(search_input.timer);
            }
            search_input.timer = setTimeout(function(){
                search_suggestion($this.val());
            }, 500);

        });

        //搜索框失焦，隐藏匹配列表
        search_input.blur(function() {
            suggestion_list.fadeOut('fast');
        });

        //搜索查询显示函数
        function search_suggestion(search_data) {
            var auther_type = $('select[name=auther_type]').val();

            input_val = search_data; //把搜索值赋给input_val，用于比较搜索值
            var search_text = $.trim(search_data.replace(/[^\x00-\xff]/g, "**")); //搜索内容首尾去空格，且每1个汉字转由两个*符号替代

            if(search_text.length >= 2) {
                //搜索内容大于2个字符，提交查询
                if (auther_type==1 || auther_type==3){
                    $.post('/SchoolVideo/search', {'guests':search_data}, function(data) {

                        if(data.state === 'success') {
                            var push_html = [];
                            $.each(data.data, function(i, o){
                                push_html.push('<li class="item" data-id='+ o.id +'>'+ o.title +'</li>');
                            });console.log(push_html);
                            suggestion_list.html($('<ul/>').append(push_html.join(''))).fadeIn('fast');
                        }else{
                            suggestion_list.fadeOut('fast', function(){
                                $(this).empty();
                            });
                        }

                    }, 'json');
                }else {
                    $.post('/SchoolGuests/getCompanyList', {'company':search_data}, function(data) {

                        if(data.state === 'success') {
                            var push_html = [];
                            $.each(data.data, function(i, o){
                                push_html.push('<li class="item" style="width: 290px" data-id='+ o.id +'>'+ o.region_name +' | '+ o.name +'</li>');
                            });console.log(push_html);
                            suggestion_list.html($('<ul/>').append(push_html.join(''))).fadeIn('fast');
                        }else{
                            suggestion_list.fadeOut('fast', function(){
                                $(this).empty();
                            });
                        }

                    }, 'json');
                }

            }else{
                //搜索内容大于2个字符，隐藏并清空下拉匹配
                suggestion_list.fadeOut('fast', function(){
                    $(this).empty();
                });
            }
        }

    });

</script>
<!--公司和嘉宾搜索/-->