<div class="wrap">
	<!-- start -->

	<div class="h_a">功能说明</div>
	<div class="prompt_text">
		<ul>
			<li>URL的填写规则为“MODULE_NAME/ACTION_NAME”。</li>
			<li>导航的标识只允许为字母或数字或下划线组合，不允许为空。</li>
		</ul>
	</div>

	<form method="post" class="J_ajaxForm" action="__URL__/insert" data-role="list">
		<div class="table_list">
			<table width="100%" id="J_table_list" style="table-layout: fixed;">
				<colgroup>
					<col width="30">
					<col width="380">
					<col width="260">
					<col width="68">
					<col>
				</colgroup>
				<thead>
					<tr>
						<td></td>
						<td>[顺序] 导航名称</td>
						<td>链接地址</td>
						<td>标识</td>
						<td class="tac">启用</td>
						<td>操作</td>
					</tr>
				</thead>
				<volist name="list" id="vo">
					<tbody>
						<tr>
							<empty name="vo.items">
							<td><span class="zero_icon" data-id="{$vo.mid}"></span></td>
							<else/>
							<td><span class="J_start_icon away_icon" data-id="{$vo.mid}"></span></td>
							</empty>
							<td>
								<input name="data[{$vo.mid}][mid]" type="hidden" value="{$vo.mid}">
								<input name="data[{$vo.mid}][parent]" type="hidden" value="{$vo.parent}">
								<input name="data[{$vo.mid}][sort]" type="text" class="input length_0 mr10" value="{$vo.sort}">
								<input name="data[{$vo.mid}][name]" type="text" class="input length_3 mr5" value="{$vo.name}">
								<a style="display: none" href="" class="link_add J_addChild add_nav" data-id="{$vo.mid}" data-html="tbody" data-type="nav_2">添加二级导航</a>
							</td>
							<td>
								<!--input name="data[{$vo.mid}][url]" type="text" class="input length_4" value="{$vo.url}"-->
							</td>
							<td>
								<input name="data[{$vo.mid}][id]" type="text" value="{$vo.id}">
							</td>
							<td class="tac">
								<input name="data[{$vo.mid}][status]" type="checkbox" value="1" <eq name="vo.status" value="1">checked="checked"</eq> >
							</td>
							<td>
								<a href="__URL__/edit/mid/{$vo.mid}" class="mr10 J_dialog" title="导航编辑">[编辑]</a>
								<a href="__URL__/delete/mid/{$vo.mid}" class="mr10 J_ajax_del">[删除]</a></td>
						</tr>
					</tbody>
					<tbody id="J_table_list_{$vo.mid}">
					<volist name="vo.items" id="ivo">
						<tr>
							<td>&nbsp;</td>
							<td>
								<span class="plus_icon  plus_end_icon mr10"></span>
								<input name="data[{$ivo.mid}][mid]" type="hidden" value="{$ivo.mid}">
								<input name="data[{$ivo.mid}][parent]" type="hidden" value="{$ivo.parent}">
								<input name="data[{$ivo.mid}][sort]" type="text" class="input length_0 mr10" value="{$ivo.sort}" style="width:20px;">
								<input name="data[{$ivo.mid}][name]" type="text" class="input length_3 mr5" value="{$ivo.name}">
								</td>
							<td>
								<input name="data[{$ivo.mid}][url]" type="text" class="input length_4" value="{$ivo.url}">
							</td>
							<td><input name="data[{$ivo.mid}][id]" type="text" value="{$ivo.id}"></td>
							<td class="tac"><input name="data[{$ivo.mid}][status]" type="checkbox" value="1" <eq name="ivo.status" value="1">checked=""</eq>></td>
							<td>
								<a href="__URL__/edit/mid/{$ivo.mid}" class="mr10 J_dialog" title="导航编辑" role="button">[编辑]</a>
								<a href="__URL__/delete/mid/{$ivo.mid}" class="mr10 J_ajax_del">[删除]</a>
							</td>
						</tr>
					</volist>
					</tbody>
				</volist>
			</table>
			<table width="100%">
				<tr class="ct">
					<td colspan="5" style="padding-left: 38px;"><a
						data-type="nav_1" data-html="tbody" href="" id="J_add_root"
						class="link_add">添加导航</a></td>
				</tr>
			</table>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">提交</button>
			</div>
		</div>
	</form>
	<!-- end -->

</div>

<script>
	/*
	 root_tr_html 为“添加导航”html
	 child_tr_html 为“添加二级导航”html
	 */
	var root_tr_html = '<tr>\
                            <td><span class="zero_icon mr10"></span></td>\
                                        <td>\
                                            <input name="newdata[root_][sort]" type="text" value="" class="input length_0 mr10">\
                                            <input name="newdata[root_][name]" type="text" class="input length_3 mr5" value="">\
                                            <a style="display: none; " href="#" class="link_add J_addChild add_nav" data-html="tbody" data-id="temp_root_" data-type="nav_2">添加二级导航</a>\
											<input type="hidden" name="newdata[root_][tempid]" value="temp_root_"/>\
                                        </td>\
                                        <td></td>\
										<td><input name="newdata[root_][id]" type="text" value=""></td>\
										</td>\
                                        <td class="tac"><input name="newdata[root_][status]" type="checkbox" value="1" checked="checked"></td>\
                                        <td>\
                                            <a href="" class="mr5 J_newRow_del">[删除]</a>\
                                        </td>\
                                    </tr>', child_tr_html = '<tr>\
						<td></td>\
						<td><span class="plus_icon"></span>\
							<input name="newdata[child_][sort]" type="text" value="" class="input length_0 mr10">\
                                            <input name="newdata[child_][name]" type="text" class="input length_3 mr5" value="">\
                                        </td>\
                                        <td>\
                                            <input name="newdata[child_][url]" type="text" class="input length_4" value="">\
                                        </td>\
										<td><input name="newdata[child_][id]" type="text" value=""></td>\
                                        <td class="tac"><input name="newdata[child_][status]" type="checkbox" value="1" checked="checked"></td>\
                                        <td>\
                                            <a href="" class="mr5 J_newRow_del">[删除]</a>\
                                            <input type="hidden" name="newdata[child_][parentid]" value="id_"/>\
                                        </td>\
                                    </tr>';

	Wind.js(GV.JS_ROOT + 'pages/admin/common/forumTree_table.js?v=' + GV.JS_VERSION);
</script>