<div class="wrap">
<div class="nav">
	<ul class="cc J_tabs_nav">
		<volist name=":C('CONFIG_GROUP')" id="vo">
			<li id="nav_{$key}" data-tab="nav_jb{$key}" <eq name="key" value="1">class="current"</eq>><a href="">{$vo}</a></li>
		</volist>
	</ul>
</div>

<form id="J_rigths_form" data-role="list" action="__URL__/saveConfig" method="post" enctype="multipart/form-data">

<div class="J_tabs_contents">
	<foreach name="group" item="vo" key="gkey">
		<div>
			<div class="h_a">{$vo}</div>
			<div class="table_full">
				<table width="100%">
					<col class="th" />
					<col width="400" />
					<col />
					<volist name="list" id="ivo">
						<eq name="ivo.group" value="$gkey">
							<tr>
								<th>{$ivo.title}</th>
								<td>
									<eq name="ivo.type" value="text"><input type="text" class="input length_{$ivo.length}" name="{$ivo.name}" value='{$ivo.value}'></eq>
									<eq name="ivo.type" value="textarea"><textarea class="input length_{$ivo.length}" name="{$ivo.name}">{$ivo.value}</textarea></eq>
								</td>
								<td><div class="fun_tips">{$ivo.remark}</div></td>
							</tr>
						</eq>
					</volist>
				</table>
			</div>
		</div>
	</foreach>
</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<button type="submit" class="btn btn_submit mr20" id="J_rights_form_btn">保存</button>
	</div>
</div></form>


</div>
