<div class="wrap">
	<div class="nav">
		<div class="return"><a href="__URL__/index">返回上一级</a></div>
	</div>

	<form id="J_rigths_form" data-role="list" action="__URL__/update" method="post" enctype="multipart/form-data">
		<div class="J_tabs_contents">
			<div>
				<div class="h_a">配置信息</div>
				<div class="table_full">
					<table width="100%">
						<col class="th" />
						<col width="400" />
						<col />
						<tr>
							<th>名称</th>
							<td><input type="text" class="input length_5" name="name" value="{$data.name}"></td>
							<td><div class="fun_tips">配置英文标识</div></td>
						</tr>
						<tr>
							<th>标题</th>
							<td><input type="text" class="input length_5" name="title" value="{$data.title}"></td>
							<td><div class="fun_tips">配置中文名称</div></td>
						</tr>
						<tr>
							<th>类型</th>
							<td>
								<select class="select length_2" name="type">
									<option <eq name="data.type" value="text">selected</eq> value="text">文本框</option>
									<option <eq name="data.type" value="textarea">selected</eq> value="textarea">文本域</option>
									<!-- <option value="password">密码</option>
									<option value="radio">单选框</option>
									<option value="checkbox">复选框</option>
									<option value="select">下拉列表</option>
									<option value="file">文件</option>
									<option value="image">图片</option>
									<option value="editor">编辑器</option> -->
								</select>
							</td>
						<td><div class="fun_tips">配置表单类型</div></td>
					</tr>
					<tr>
						<th>初始值</th>
						<td><input type="text" class="input length_5" name="value" value="{$data.value}"></td>
						<td><div class="fun_tips">当前配置项的初始值</div></td>
					</tr>
					<tr>
						<th>参数</th>
						<td><input type="text" class="input length_5" name="extra" value="{$data.extra}"></td>
						<td></td>
					</tr>
					<tr>
						<th>配置分组</th>
						<td>
							<select name="group" class="length_2">
								<volist name=":C('CONFIG_GROUP')" id="vo">
									<option <eq name="data.group" value="$key">selected</eq> value="{$key}">{$vo}</option>
								</volist>
							</select>
						</td>
						<td></td>
					</tr>
					<tr>
						<th>显示长度</th>
						<td>
							<select name="length" class="length_2">
								<option <eq name="data.length" value="1">selected</eq> value="1">长度1</option>
								<option <eq name="data.length" value="2">selected</eq> value="2">长度2</option>
								<option <eq name="data.length" value="3">selected</eq> value="3">长度3</option>
								<option <eq name="data.length" value="4">selected</eq> value="4">长度4</option>
								<option <eq name="data.length" value="5">selected</eq> value="5">长度5</option>
							</select>
						</td>
						<td><div class="fun_tips">序号越大长度越长</div></td>
					</tr>
					<tr>
						<th>描述</th>
						<td><input type="text" class="input length_5" name="remark" value="{$data.remark}"></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<input type="hidden" name="id" value="{$data.id}">
				<button type="submit" class="btn btn_submit mr20" id="J_rights_form_btn">提交</button>
			</div>
		</div>
	</form>
</div>