<div class="wrap J_check_wrap">
	<!--导航-->
	<div class="nav">
		<ul class="cc">
			<li class="current">
				<a href="__SELF__">配置管理</a>
			</li>
		</ul>
	</div>
	<!--/导航-->
	<!--操作-->
	<div class="mb10">
		<a class="btn" href="__URL__/add" title="新增"><span class="add"></span>新增</a>
	</div>
	<!--/操作-->
	<!--搜索-->
	<div class="h_a">搜索</div>
	<form method="get" action="__URL__/index">
		<div class="search_type cc mb10">
			<div class="ul_wrap">
				<ul class="cc">
					<li>
						<label>关键字：</label>
						<input name="title" value="{$Think.request.title}" type="text" class="input length_3" placeholder="输入关键字">
					</li>
					<li>
						<label>配置分组：</label>
						<select name="group" class="select_2">
							<option value="">请选择</option>
							<volist name=":C('CONFIG_GROUP')" id="vo">
								<option <eq name="Think.get.group" value="$key"></eq> value="{$key}">{$vo}</option>
							</volist>
						</select>
					</li>
					<li>
						<label>状态：</label>
						<select name="status" class="select_1">
							<option value="">状态</option>
							<option value="1" <eq name="Think.request.status" value="1">selected="selected"</eq>>启用</option>
							<option value="0" <eq name="Think.request.status" value="0">selected="selected"</eq>>禁用</option>
						</select>
					</li>
					<li><button class="btn mr20" type="submit">搜索</button></li>
				</ul>
			</div>
		</div>
	</form>
	<!--/搜索-->
	<!--列表-->
	<form class="J_ajaxForm" action="" method="post">
		<div class="table_list">
			<list:list box="id" name="list" show="{field:id,title:编号,width:60,order:desc}{field:name,title:名称,width:120}{field:title,title:标题,width:120}{field:group,title:分组,width:120}{field:type,title:类型,width:60,order:desc}{field:create_time,title:创建时间,func:date='y-m-d H#i'/###,width:120,order:desc}{field:update_time,title:更新时间,func:date='y-m-d H#i'/###,width:120,order:desc}{field:status,title:状态,func:get_status,order:desc,width:60}{{title:操作,text:编辑,url:__URL__/edit/id/$id}{text:禁用,status:1,url:__URL__/forbid/id/$id}{text:恢复,status:0,url:__URL__/resume/id/$id}}"/>
			<div class="p10"></div>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<div class="select_pages"><div class="pages">{$page}</div></div>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/delete" data-subcheck="true" data-msg="您确定要删除选择的数据吗？">删除</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/forbid">禁用</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/resume">恢复</button>
			</div>
		</div>
	</form>
	<!--/列表-->
</div>