<style type="text/css">
	body{ width:435px; }
</style>
<div class="">

<!--用户权限编辑编辑: 编辑用户-->
<form id="J_auth_form" action="__URL__/update" method="post">
<div>
	<div class="pop_cont">
		<div class="mb15">
			<h4 class="mb5">用户名</h4>
			<input name="username" readonly type="text" class="input input_hd" style="width:396px;" value="{$username}">
		</div>
		<div class="cc shift">
			<div class="fl">
				<h4>选择角色</h4>
				<select id="J_roles" size="10" name="roles">
				<volist name="roles" id="vo">
					<option value="{$vo.id}">{$vo.name}</option>
				</volist>
				</select>
			</div>
			<div class="fl shift_operate">
				<p class="mb10"><a id="J_auth_role_add" href="" class="btn">编辑 &gt;&gt;</a></p>
				<p><a id="J_auth_role_del" href="" class="btn">&lt;&lt; 移除</a></p>
			</div>
			<div class="fr">
				<h4>拥有角色</h4>
				<select id="J_user_roles" name="role_id[]" size="10" multiple="multiple">
					<volist name="user_role" id="vo">
						<option value="{$vo.id}">{$vo.name}</option>
					</volist>
				</select>
			</div>
		</div>
	</div>
	<div class="pop_bottom cc">
		<input type="hidden" name="user_id" value="{$data.user_id}" />
		<button type="button" class="btn fr" id="J_dialog_close">取消</button>
		<button id="J_auth_sub" class="btn btn_submit fr mr10" type="submit">提交</button>
	</div>
</div>
</form>
<!--用户编辑弹窗结束-->

</div>
<script>
Wind.js(GV.JS_ROOT+ 'pages/admin/auth_manage.js');
</script>