<div class="wrap">

<!--用户后台权限: 列表  -->
<div class="nav">
	<ul class="cc">
		<li class="current"><a href="__SELF__">后台用户</a></li>
		<li><a href="{:U('Role/index')}">管理角色</a></li>
	</ul>
</div>
<div class="h_a">提示信息</div>
<div class="mb10 prompt_text">
	<ol>
		<li>允许添加进入后台的用户，进入后台的操作权限，由所赋予的角色决定，一个用户可以被赋予多个角色</li>
	</ol>
</div>
<div class="cc mb10"><a href="__URL__/add" title="添加用户" class="btn J_dialog"><span class="add"></span>添加后台用户</a></div>
<div class="table_list">
	<lists:list box="id" name="list" show="{field:id,title:UID,width:60}{field:username,title:用户名,width:120}{field:role,title:拥有角色,width:180}{{title:操作,text:编辑,url:__URL__/edit/id/$id,class:J_dialog}{text:删除,url:__URL__/delete/id/$id,class:J_ajax_del}}"/>
</div>
</div>
