<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/cid/{$Think.get.cid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" data-role="list" action="__URL__/insert" method="post" enctype="multipart/form-data">
<div class="table_full">
	<div>
		<div class="h_a">新增数据</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="680" />
				<col />
				<volist name="form" id="row">
                    <tr>
                        <th>{$row.title}</th>
                        <td><form:attr var="row"/></td>
                        <td><div class="fun_tips">{$row.tips}</div></td>
                    </tr>
                </volist>
			</table>
		</div>
	</div>

</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="cid" value="{$Think.get.cid}" />
		<button type="submit" class="btn btn_submit mr20" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>