<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">IOS版本审核</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>版本号</th>
					<td><input type="text" class="input length_5" name="version" value="{$data.version}"></td>
				</tr>
				<tr>
					<th>是否审核通过</th>
					<td>
						<select name="status" >
							<option value="">请选择</option>
							<option value="0" <eq name="data.status" value="0">selected</eq>>未通过</option>
							<option value="1" <eq name="data.status" value="1">selected</eq>>审核通过</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>
