<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/insert" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">新增</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>标题</th>
					<td><input type="text" class="input length_5" name="title"></td>
				</tr>
				<tr>
					<th>地址</th>
					<td><input type="text" class="input length_5" name="url"></td>
				</tr>
				<!-- <tr>
					<th>时长</th>
					<td><input type="text" class="input length_5" name="times"></td>
				</tr> -->
				<tr>
					<th>封面</th>
					<td><input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover"></td>
				</tr>
				<!-- <tr>
					<th>嘉宾</th>
					<td>
						<select name="guests_id">
							<option value="">请选择</option>
							<volist name="gudests" id="vo">
								<option value="{$vo.id}">{$vo.title}</option>
							</volist>
						</select>
					</td>
				</tr> -->
				<tr>
					<th>嘉宾</th>
					<td>
						<div class="fl">
							<div id="J_search_suggestion" class="forum_search_pop" style="display:none;margin-top:25px;"></div>
						</div>
						<input id="J_search_input" class="input length_3 mr10" name="guests" autoComplete="off" type="text">
						<input type="hidden" name="guests_id">
					</td>
				</tr>
				<tr>
					<th>分类</th>
					<td>
						<volist name="category" id="vo">
							<label><input name="category[]" data-xid="J_check_6" class="J_check" type="checkbox" value="{$vo.id}"><span>{$vo.title}</span></label>
						</volist>
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="1"><span>管理类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="2"><span>策划类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="3"><span>营销类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="4"><span>主持类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="5"><span>其它类</span></label>-->
					</td>
					<!--<td>-->
						<!--<select class="cate" name="cate1">-->
							<!--<option value="">请选择</option>-->
							<!--<volist name="cate1" id="vo">-->
								<!--<option value="{$vo.id}">{$vo.title}</option>-->
							<!--</volist>-->
						<!--</select>-->
						<!--<input type="hidden" name="cate1_title">-->
					<!--</td>-->
				</tr>
				<!--<tr>-->
					<!--<th></th>-->
					<!--<td>-->
						<!--<select class="cate" name="cate2">-->
							<!--<option value="">请选择</option>-->
							<!--<volist name="cate2" id="vo">-->
								<!--<option value="{$vo.id}">{$vo.title}</option>-->
							<!--</volist>-->
						<!--</select>-->
						<!--<input type="hidden" name="cate2_title">-->
					<!--</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<th></th>-->
					<!--<td>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="1"><span>管理类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="2"><span>策划类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="3"><span>营销类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="4"><span>主持类</span></label>-->
						<!--<label><input name="cate3[]" data-xid="J_check_6" class="J_check" type="checkbox" value="5"><span>其它类</span></label>-->
					<!--</td>-->
				<!--</tr>-->
				<tr>
					<th>排序</th>
					<td><input type="number" class="input length_5" name="sort" value="0"><p>数值越大越靠前</p></td>
				</tr>
				<tr>
					<th>是否需要登录<br><b style="color: red">若选“是”，登录后才能观看！</b></th>
					<td>
						<select name="auth">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>是否设为热门<br><b style="color: red">若选“是”，该视频将出现在热门视频列表！</b></th>
					<td>
						<select name="is_hot">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr >
					<th>封面（大图）</th>
					<td><input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="big_cover"></td>
				</tr>
				<tr>
					<th>是否设为推荐<br><b style="color: red">若选“是”，视频将出现在列表首页！</b></th>
					<td>
						<select name="is_recommend">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>是否为会员专享<br><b style="color: red">若选“是”，只有会员才能观看！</b></th>
					<td>
						<select name="is_vip">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>收费标准</th>
					<td>
						<volist name="charge_standard" id="vo">
							<label><input name="charge_standard[]" data-xid="J_check_6" class="J_check" type="checkbox" value="{$vo.id}"><span>{$vo.price}元({$vo.note})</span></label>
						</volist>
					</td>
				</tr>
				<tr>
					<th>保存<br><b style="color: red">若选“是”，视频只被保存在数据库，不会被马上发布到app！</b></th>
					<td>
						<select name="conserve">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</div>
</form>
<script>
	$(function(){
		$('.cate').change(function() {
			var name = $(this).attr('name');
			$('input[name='+ name +'_title]').val($(this).children('option:selected').text());
		});

		$('#J_search_suggestion').on('click', 'li', function(){
			$('input[name=guests_id]').val($(this).data('id'));
			$('input[name=guests]').val($(this).text());
		})

		/*
		搜索建议：输入>=2个字符开始提交查询，支持上下键选择；点击下拉的匹配项进入分类编辑，点击搜索按钮则高亮匹配的tr行
		*/
		
		var search_input = $('#J_search_input'),			//搜索栏
			suggestion_list = $('#J_search_suggestion'),	//搜索匹配列表
			input_val;										//搜索值，用于比较是否有更改

		//搜索框聚焦
		search_input.focus(function(){
			var $this = $(this);
			
			//搜索框粘帖
			this.onpaste = function(){

				//清楚重复的延时操作
				if(search_input.ptimer) {
					clearTimeout(search_input.ptimer);
				}
				
				//粘帖半秒后提交查询
				search_input.ptimer = setTimeout(function(){
					search_suggestion($('#J_search_input').val());
				}, 500)

			}
			
			//通过浏览器（ff8.0）“后退”到本页面时，可能搜索内容为空，但是有隐藏的匹配项
			if(!$this.val()) {
				return false;
			}
			
			//已经匹配搜索，搜索框重新聚焦时显示匹配，避免重复ajax
			if(suggestion_list.children().length) {
				suggestion_list.fadeIn('fast');
			}
			
		});
		
		
		
		//搜索输入
		search_input.keyup(function(e){
			var $this = $(this);
			
			//键盘上下选择搜索建议
			if(suggestion_list.children().length & (e.keyCode === 38 || e.keyCode === 40)) {

				var li_current = suggestion_list.find('li.current'); //当前选中项，上下键未修改状态
				/*var f_or_l = (e.keyCode === 40 ? 'first' : 'last'),
				p_or_n = (e.keyCode === 40 ? $.next : 'prev');*/
				//
				if(e.keyCode === 38) {
					//键盘_向上
					
					if(!li_current.length) {
						//没有有选中项时
						suggestion_list.find('li:last').addClass('current');
					}else{
						//有选中项时
						li_current.removeClass('current').prev().addClass('current');
					}
					
					
					
				}else if(e.keyCode === 40) {
					//键盘_向下
					
					if(!li_current.length) {
						//没有有选中项时
						suggestion_list.find('li:first').addClass('current');
					}else{
						//有选中项时
						li_current.removeClass('current').next().addClass('current');
					}
					
				}
				
				if(suggestion_list.find('li.current').length) {
					search_input.val(suggestion_list.find('li.current').text());
				}else{
					search_input.val(input_val);
				}

				return false;
				
				
			}
			
			
			if($this.val() === input_val) {
				return false; //搜索值未改变则不做查询
			}
			
			//停止输入半秒后开始查询
			if(search_input.timer) {
				clearTimeout(search_input.timer);
			}
			search_input.timer = setTimeout(function(){
				search_suggestion($this.val());
			}, 500);
			
		});

		//搜索框失焦，隐藏匹配列表
		search_input.blur(function() {
			suggestion_list.fadeOut('fast');
		});
		
		//搜索查询显示函数
		function search_suggestion(search_data) {
			input_val = search_data; //把搜索值赋给input_val，用于比较搜索值
			var search_text = $.trim(search_data.replace(/[^\x00-\xff]/g, "**")); //搜索内容首尾去空格，且每1个汉字转由两个*符号替代
			
			if(search_text.length >= 2) {
				//搜索内容大于2个字符，提交查询
				
				$.post('__URL__/search', {'guests':search_data}, function(data) {

					if(data.state === 'success') {
						var push_html = [];
						$.each(data.data, function(i, o){
							push_html.push('<li class="item" data-id='+ o.id +'>'+ o.title +'</li>');
						});console.log(push_html);
						suggestion_list.html($('<ul/>').append(push_html.join(''))).fadeIn('fast');
					}else{
						suggestion_list.fadeOut('fast', function(){
							$(this).empty();
						});
					}
					
				}, 'json');
				
			}else{
				//搜索内容大于2个字符，隐藏并清空下拉匹配
				suggestion_list.fadeOut('fast', function(){
					$(this).empty();
				});
			}
		}

	});

</script>