<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index/pid/{$Think.get.pid}">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">工作日期</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="400" />
				<col />
				<tr>
					<th>标题</th>
					<td><input type="text" class="input length_5" name="title" value="{$data.title}"></td>
				</tr>
				<tr>
					<th>地址</th>
					<td><input type="text" class="input length_5" name="url" value="{$data.url}"></td>
				</tr>
				<!-- <tr>
					<th>时长</th>
					<td><input type="text" class="input length_5" name="times" value="{$data.times}"></td>
				</tr> -->
				<tr>
					<th>封面</th>
					<td>
						<input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="cover">
						<div>
							<img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.cover_url}?imageView/1/w/246/h/185/q/85" alt="">
						</div>
					</td>
				</tr>
				<tr>
					<th>嘉宾</th>
					<td>
						<select name="guests_id">
							<option value="">请选择</option>
							<volist name="gudests" id="vo">
								<option value="{$vo.id}" <eq name="data.guests_id" value="$vo['id']">selected</eq>>{$vo.title}</option>
							</volist>
						</select>
					</td>
				</tr>
				<tr>
					<th>分类</th>
					<td>
						<volist name="category" id="vo">
							<label><input name="category[]" <if condition="in_array($vo['id'], explode(',',$data['category']))" >checked</if> data-xid="J_check_6" class="J_check" type="checkbox" value="{$vo.id}"><span>{$vo.title}</span></label>
						</volist>
					</td>
				</tr>
				<tr>
					<th>排序</th>
					<td><input type="number" class="input length_5" name="sort" value="{$data.sort}"><p>数值越大越靠前</p></td>
				</tr>
				<tr>
					<th>是否需要登录<br><b style="color: red">若选“是”，登录后才能观看！</b></th>
					<td>
						<select name="auth">
							<option value="0" <eq name="data.auth" value="0">selected</eq>>否</option>
							<option value="1" <eq name="data.auth" value="1">selected</eq>>是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>是否设为热门<br><b style="color: red">若选“是”，该视频将出现在热门视频列表！</b></th>
					<td>
						<select name="is_hot">
							<option value="0" <eq name="data.is_hot" value="0">selected</eq>>否</option>
							<option value="1" <eq name="data.is_hot" value="1">selected</eq>>是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>封面（大图）</th>
					<td>
						<input type="file" data-type="qiniu" data-base-url="http://7xopel.com2.z0.glb.qiniucdn.com" name="big_cover">
						<div>
							<img src="http://7xopel.com2.z0.glb.qiniucdn.com/{$data.big_cover_url}?imageView/1/w/246/h/185/q/85" alt="">
						</div>
					</td>
				</tr>
				<tr>
					<th>是否设为推荐<br><b style="color: red">若选“是”，视频将出现在列表首页！</b></th>
					<td>
						<select name="is_recommend">
							<option value="0" <eq name="data.is_recommend" value="0">selected</eq>>否</option>
							<option value="1" <eq name="data.is_recommend" value="1">selected</eq>>是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>是否为会员专享<br><b style="color: red">若选“是”，只有会员才能观看！</b></th>
					<td>
						<select name="is_vip">
							<option value="0" <eq name="data.is_vip" value="0">selected</eq>>否</option>
							<option value="1" <eq name="data.is_vip" value="1">selected</eq>>是</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>收费标准</th>
					<td>
						<volist name="charge_standard" id="vo">
							<label><input name="charge_standard[]" <if condition="in_array($vo['id'], explode(',',$data['charge_standard']))" >checked</if> data-xid="J_check_6" class="J_check" type="checkbox" value="{$vo.id}"><span>{$vo.price}元({$vo.note})</span></label>
						</volist>
					</td>
				</tr>
				<tr>
					<th>保存<br><b style="color: red">若选“是”，视频只被保存在数据库，不会被马上发布到app！</b></th>
					<td>
						<select name="conserve">
							<option value="0" <eq name="data.status" value="1">selected</eq>>否</option>
							<option value="1" <eq name="data.status" value="0">selected</eq>>是</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<input type="hidden" name="qiniu_token" value="{$token}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>
<script>
	$(function(){
		$('.cate').change(function() {
			var name = $(this).attr('name');
			$('input[name='+ name +'_title]').val($(this).children('option:selected').text());
		});
	})
</script>
