<div class="wrap J_check_wrap">
	<!--说明-->
	<div class="h_a">说明</div>
	<div class="prompt_text">
		<ol>
			<li>视频管理</li>
		</ol>
	</div>
	<!--/说明-->
	<!--搜索-->
	<div class="h_a">搜索</div>
	<form action="__URL__/index" method="get">
		<div class="search_type cc mb10">
			<label>标题：</label>
			<input name="title" type="text" class="input length_2 mr10" value="{$Think.get.title}"/>
			<label>嘉宾：</label>
			<select name="guests_id">
				<option value="">请选择</option>
				<volist name="gudests" id="vo">
					<option value="{$vo.id}" <eq name="Think.request.guests_id" value="$vo['id']">selected</eq>>{$vo.title}</option>
				</volist>
			</select>
			<label>会员专享：</label>
			<select name="is_vip">
				<option value="">请选择</option>
				<option value="0" <eq name="Think.request.is_vip" value="0">selected</eq>>否</option>
				<option value="1" <eq name="Think.request.is_vip" value="1">selected</eq>>是</option>
			</select>
			<label>推荐：</label>
			<select name="is_recommend">
				<option value="">请选择</option>
				<option value="0" <eq name="Think.request.is_recommend" value="0">selected</eq>>否</option>
				<option value="1" <eq name="Think.request.is_recommend" value="1">selected</eq>>是</option>
			</select>
			<label>热门：</label>
			<select name="is_hot">
				<option value="">请选择</option>
				<option value="0" <eq name="Think.request.is_hot" value="0">selected</eq>>否</option>
				<option value="1" <eq name="Think.request.is_hot" value="1">selected</eq>>是</option>
			</select>
			<label>分类：</label>
			<select class="cate" name="category">
				<option value="">请选择</option>
				<volist name="category" id="vo">
					<option value="{$vo.id}" <eq name="Think.request.category" value="$vo['id']">selected</eq>>{$vo.title}</option>
				</volist>
			</select>
			<button type="submit" class="btn">搜索</button>
		</div>
	</form>
	<!--/搜索-->
	<!--操作-->
	<div class="mb10">
		<a class="btn" href="__URL__/add" title="新增"><span class="add"></span>新增</a>
	</div>
	<!--/操作-->
	<!--列表-->
	<form class="J_ajaxForm" action="" method="post">
		<div class="table_list">
			<lists:list box="id" name="list" show="{field:id,title:编号,width:60}{field:title,title:标题,width:200}{field:url,title:播放地址,width:200}{field:guests,title:嘉宾,width:80}{field:is_big_cover,title:大图上传,width:80}{field:cate_title,title:分类,width:120}{field:vip,title:是否会员专享,width:60}{field:hot,title:是否热门,width:60}{field:recommend,title:是否推荐,width:60}{field:create_time,title:创建时间,func:date='y-m-d H#i'/###,width:120}{field:status,title:状态,width:60,func:get_status}{{title:操作,text:编辑,url:__URL__/edit/id/$id}}"/>
			<div class="p10"></div>
		</div>
		<div class="btn_wrap">
			<div class="btn_wrap_pd">
				<div class="select_pages"><div class="pages">{$page}</div></div>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/delete" data-subcheck="true" data-msg="确定要删除选中的数据？">删除</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/forbid/cid/{$Think.get.cid}">禁用</button>
				<button class="btn J_ajax_submit_btn" type="button" data-action="__URL__/resume/cid/{$Think.get.cid}">恢复</button>
			</div>
		</div>
	</form>
	<!--/列表-->
</div>
