<div class="wrap">
<div class="nav">
	<div class="return"><a href="__URL__/index">返回上一级</a></div>
</div>

<form id="J_rigths_form" class="J_ajaxForm" action="__URL__/update" method="post" enctype="multipart/form-data">
<div class="J_tabs_contents">
	<div>
		<div class="h_a">门票编辑</div>
		<div class="table_full">
			<table width="100%">
				<col class="th" />
				<col width="450" />
				<col />
				<tr>
					<th>地区</th>
					<td>
						<select name="province" class="province">
							<option value="">请选择</option>
						</select>
						<select name="city" class="city">
							<option value="">请选择</option>
						</select>
						<select name="region" class="region">
							<option value="">请选择</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>公司名</th>
					<td><input type="text" class="input length_5" name="company_name" value="{$data.company_name}"></td>
					<td></td>
				</tr>
				<tr>
					<th>公司类型</th>
					<td>
						<select name="type">
							<option <eq name="data.type" value="婚礼策划"></eq> value="婚礼策划">婚礼策划</option>
							<option <eq name="data.type" value="婚纱摄影"></eq> value="婚纱摄影">婚纱摄影</option>
							<option <eq name="data.type" value="婚宴酒店"></eq> value="婚宴酒店">婚宴酒店</option>
							<option <eq name="data.type" value="婚礼司仪"></eq> value="婚礼司仪">婚礼司仪</option>
							<option <eq name="data.type" value="婚礼影像"></eq> value="婚礼影像">婚礼影像</option>
							<option <eq name="data.type" value="婚礼彩妆"></eq> value="婚礼彩妆">婚礼彩妆</option>
							<option <eq name="data.type" value="婚礼花艺"></eq> value="婚礼花艺">婚礼花艺</option>
							<option <eq name="data.type" value="协会机构"></eq> value="协会机构">协会机构</option>
							<option <eq name="data.type" value="婚礼周边"></eq> value="婚礼周边">婚礼周边</option>
							<option <eq name="data.type" value="其他"></eq> value="其他">其他</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>联系人</th>
					<td><input type="text" class="input length_5" name="username" value="{$data.username}"></td>
					<td></td>
				</tr>
				<tr>
					<th>联系方式</th>
					<td><input type="text" class="input length_5" name="contact" value="{$data.contact}"></td>
					<td></td>
				</tr>
				<tr>
					<th>职称</th>
					<td><input type="text" class="input length_5" name="job_title" value="{$data.job_title}"></td>
					<td></td>
				</tr>
				<tr>
					<th>客户关系</th>
					<td>
						<label><input name="relation[]" <if condition="in_array('嘉宾', explode(',',$data['relation']))" value="">checked</if> class="J_check" type="checkbox" value="嘉宾"><span>特邀嘉宾</span></label>
						<label><input name="relation[]" <if condition="in_array('用户', explode(',',$data['relation']))" value="">checked</if> class="J_check" type="checkbox" value="用户"><span>产品客户</span></label>
						<label><input name="relation[]" <if condition="in_array('参赛', explode(',',$data['relation']))" value="">checked</if> class="J_check" type="checkbox" value="参赛"><span>比赛参赛</span></label>
						<label><input name="relation[]" <if condition="in_array('参会', explode(',',$data['relation']))" value="">checked</if> class="J_check" type="checkbox" value="参会"><span>峰会参会</span></label>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否OS客户</th>
					<td>
						<select name="is_os">
							<option <eq name="data.is_os" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_os" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否找花网用户</th>
					<td>
						<select name="is_flower">
							<option <eq name="data.is_flower" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_flower" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否结婚圈入驻商户</th>
					<td>
						<select name="is_app">
							<option <eq name="data.is_app" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_app" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否手绘订阅商户</th>
					<td>
						<select name="is_rss">
							<option <eq name="data.is_rss" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_rss" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否购买金熊奖作品集</th>
					<td>
						<select name="is_bear">
							<option <eq name="data.is_bear" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_bear" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否购买手绘作品集</th>
					<td>
						<select name="is_shouhui">
							<option <eq name="data.is_shouhui" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_shouhui" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>是否参加公开课</th>
					<td>
						<select name="is_class">
							<option <eq name="data.is_class" value="0">selected</eq> value="0">否</option>
							<option <eq name="data.is_class" value="1">selected</eq> value="1">是</option>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<th>地址</th>
					<td><input type="text" class="input length_5" name="address" value="{$data.address}"></td>
					<td></td>
				</tr>
				<tr>
					<th>备注</th>
					<td><textarea class="length_5" name="remark">{$data.remark}</textarea></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="btn_wrap">
	<div class="btn_wrap_pd">
		<input type="hidden" name="id" value="{$data.id}">
		<button type="submit" class="btn btn_submit mr20 J_ajax_submit_btn" id="J_rights_form_btn">提交</button>
	</div>
</div>
</form>
</div>

<script>
	var region = {:json_encode($region)}, province_id = {$data.province}, city_id = {$data.city}, region_id = {$data.region};
	var COMPANY = {
		init: function() {
			this.region();
		},
		region: function(){
			var province_html = city_html = region_html = '<option value="">-请选择-</option>', province_status = city_status = region_status = '';
            $.each(region, function(index, val) {
                if (val.parent_id == 0) {
                	province_status = (val.region_id == province_id) ? 'selected' : '';
                    province_html += '<option '+ province_status +' value="'+ val.region_id +'">'+ val.region_name +'</option>';
                }
                if (val.parent_id == province_id) {
                	city_status = (val.region_id == city_id) ? 'selected' : '';
                    city_html += '<option '+ city_status +' value="'+ val.region_id +'">'+ val.region_name +'</option>';
                }
                if (val.parent_id == city_id) {
                	region_status = (val.region_id == region_id) ? 'selected' : '';
                    region_html += '<option '+ region_status +' value="'+ val.region_id +'">'+ val.region_name +'</option>';
                }
            });
            $('.province').html(province_html);
            $('.city').html(city_html);
            $('.region').html(region_html);

            $('.province').change(function() {
                var id = $(this).val(), city = '<option value="">-请选择-</option>';;
                if (id > 0) {
                    $.each(region, function(index, val) {
                        if (val.parent_id == id) {
                            city += '<option value="'+ val.region_id +'">'+ val.region_name +'</option>';
                        }
                    });
                }
                $('.city').html(city);
                $('.region').html('<option value="">-请选择-</option>');
            });
            $('.city').change(function() {
                var id = $(this).val(), city = '<option value="">-请选择-</option>';;
                if (id > 0) {
                    $.each(region, function(index, val) {
                        if (val.parent_id == id) {
                            city += '<option value="'+ val.region_id +'">'+ val.region_name +'</option>';
                        }
                    });
                }
                $('.region').html(city);
            });
		}
	};
	$(function(){
		COMPANY.init();
	})
</script>