/* RESET */
.cf { *zoom: 1; }

.cf:before { content: ""; display: table; line-height: 0; }

.cf:after { content: ""; display: table; line-height: 0; clear: both; }

.lsn { margin: 0; list-style: none; }

.ios textarea::-webkit-input-placeholder { /* WebKit browsers */ text-indent: -0.5px; }
.ios textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ text-indent: -0.5px; }
.ios textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ text-indent: -0.5px; }
.ios textarea:-ms-input-placeholder { /* Internet Explorer 10+ */ text-indent: -0.5px; }

.ios .form-control { -webkit-appearance: none; }

.without-number-spin[type=number]::-webkit-inner-spin-button, .without-number-spin[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

body { font-family: Arial, Verdana, Tahoma, "Hiragino Sans GB", Microsoft YaHei, SimSun, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: Arial, Verdana, Tahoma, "Hiragino Sans GB", Microsoft YaHei, SimHei, SimSun, sans-serif; }

@keyframes haloIcon-spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.haloIcon-spin { animation: haloIcon-spin 2s infinite linear; }

.haloIcon-pulse { animation: haloIcon-spin 1s infinite steps(8); }

html { background: #F9F9Fb; height: 100%; }

body { font-size: 14px; margin: 0; background: transparent; }

.f-13 { font-size: 13px; }

.f-14 { font-size: 14px; }

.f-15 { font-size: 15px; }

.f-16 { font-size: 16px; }

.f-18 { font-size: 18px; }

.f-19 { font-size: 19px; }

.toutiao-header { padding: 0 10px; padding-top: 25px; background: #fff; }
.toutiao-header .title { color: #333; }
.toutiao-header .date { color: #999; margin-top: 15px; border-bottom: 1px solid #CECECE; padding-bottom: 15px; }

.toutiao-body { padding: 0 10px; padding-top: 20px; color: #666; background: #fff; padding-bottom: 29px; }
.toutiao-body .pic-block { width: 100%; margin-top: 20px; }
.toutiao-body .pic-block img { margin-top: 15px; width: 100%; }
.toutiao-body .pic-block img:first-child { margin-top: 0; }
.toutiao-body .info-block { margin-top: 15px; }

.comment-block { margin-top: 15px; background: #fff; padding: 0 10px; padding-top: 29px; margin-bottom: 4px; }
.comment-block .title { color: #333; }
.comment-block .comment-list .item { border-bottom: 1px solid #CECECE; padding-bottom: 24px; margin-top: 20px; }
.comment-block .comment-list .item:first-child { margin-top: 24px; }
.comment-block .comment-list .comment-item { display: flex; }
.comment-block .comment-list .comment-item .avatar { flex: 0 0 44px; width: 44px; height: 44px; border-radius: 50%; overflow: hidden; margin-right: 15px; }
.comment-block .comment-list .comment-item .avatar img { width: 100%; }
.comment-block .comment-list .comment-item .item-content { flex: 1 1 auto; }
.comment-block .comment-list .comment-item .item-content .name { color: #333; }
.comment-block .comment-list .comment-item .item-content .text { color: #666; margin-top: 8px; }
.comment-block .comment-list .dialog-content { margin-left: 59px; margin-top: 9px; border: 1px solid #cccccc; border-radius: 4px; background: #f4f4f4; padding: 13px; position: relative; }
.comment-block .comment-list .dialog-content .img { position: absolute; width: 11px; top: -8px; left: 20px; }
.comment-block .comment-list .dialog-content .content-top { overflow: hidden; vertical-align: bottom; color: #999; }
.comment-block .comment-list .dialog-content .content-top .name { float: left; }
.comment-block .comment-list .dialog-content .content-top .date { float: right; }
.comment-block .comment-list .dialog-content .content { color: #666; margin-top: 8px; line-height: 1.5; }
.comment-block .comment-list .comment-bottom { margin-top: 19px; padding-left: 59px; vertical-align: middle; color: #999; height: 15px; line-height: 15px; }
.comment-block .comment-list .comment-bottom .haloIcon { padding-right: 3px; }
.comment-block .comment-list .comment-bottom .date { display: inline-block; }
.comment-block .comment-list .comment-bottom .remark { display: inline-block; float: right; margin-right: 33px; }
.comment-block .comment-list .comment-bottom .remark .haloIcon { font-size: 17px; }
.comment-block .comment-list .comment-bottom .message { display: inline-block; float: right; }
.comment-block .comment-list .comment-bottom .message .haloIcon { font-size: 17px; }

/*# sourceMappingURL=main.css.map */
